body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #fafafa;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  max-width: 935px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  z-index: 1;
}

.topbar {
  max-width: 935px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-mobile {
  display: none;
  max-width: 935px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.bottom-bar {
  display: none;
  width: 100%;
  height: 54px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}

.separator {
  display: block;
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}

.topbar .logo-container,
.topbar .search-bar,
.topbar .social-actions {
  width: 33%;
}

.topbar .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topbar .logo-container a {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.topbar .logo-container a:last-child {
  margin-top: 5px;
}

.topbar .logo-container a:first-child img {
  height: 22px;
}

.topbar .logo-container a:last-child img {
  height: 29px;
}

.topbar .search-bar input {
  height: 28px;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  text-align: center;
  font-size: 12px;
  color: #979797;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .social-actions {
  text-align: right;
}

.topbar .social-actions div a {
  margin-left: 20px;
  font-size: 22px;
  color: #000;
}

.main {
  width: 100%;
  margin-top: 88px;
  position: relative;

  display: flex;
  justify-content: center;
}

.main .container {
  max-width: 935px;
  display: flex;
  justify-content: space-between;
}

.main .feed {
  max-width: 935px;
}

.main .feed .stories {
  position: relative;

  display: flex;
  align-items: center;
  background-color: red;

  overflow: hidden;
  text-align: left;

  max-width: 614px;
  height: 118px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.stories .icon-next {
  position: absolute;
  right: 5px;
  top: 43px;
  width: 32;
  height: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  justify-content: center;
  align-items: center;
}

.stories .icon-next img {
  width: 100%;
  height: 100%;
}

.stories .item {
  width: 66px;
  margin-left: 14px;
}

.stories .item div {
  position: relative;
}

.stories .item .bg {
  height: 66px;
  width: 66px;
  border-radius: 50%;
}

.stories .item .photo {
  position: absolute;
  top: 7%;
  right: 7%;
}

.stories .item p {
  margin-top: 1px;
  text-align: center;
  font-size: 12px;
}

.posts {
  margin-top: 24px;
  width: 100%;
}

.posts .post {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  margin-bottom: 60px;
}

.posts .post img {
  width: 100%;
}

.post .post-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post .post-heading div {
  display: flex;
  align-items: center;
}

.post .post-heading img {
  width: 22px;
  margin: 15px 0 13px 17px;
}

.post .post-heading p {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin-left: 15px;
}

.post .post-heading a {
  margin-right: 17px;
  color: #000;
}

.post .post-bottom .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post-bottom .actions a {
  font-size: 22px;
  color: #000;
  margin-left: 15px;
}

.post-bottom .actions div + a {
  margin-left: 0;
  margin-right: 15px;
}

.post-bottom .user-likes {
  margin: 10px 0 15px 0;
  display: flex;
  align-items: center;
}

.post-bottom .user-likes img {
  width: 20px;
  margin-left: 15px;
}

.post-bottom .user-likes p {
  font-size: 14px;
  margin-left: 5px;
}

.post-bottom .user-likes a {
  text-decoration: none;
  font-weight: 700;
  color: #262626;
}

.post-bottom .user-likes a:hover {
  opacity: 0.7;
}

.post .post-comments {
  margin-bottom: 15px;
}

.post .post-comments div {
  display: flex;
  justify-content: space-between;
}

.post .post-comments > a {
  width: 12px;
  height: 12px;
  color: #000;
}

.post .post-comments > a img {
  font-size: 12px;
}

.post .post-comments .users-comments {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 5px;
}

.post .post-comments div a {
  text-decoration: none;
  color: #262626;
  font-weight: 500;
  font-size: 14px;
}

.post .post-comments div p {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  margin-left: 10px;
}

.post .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-top: 1px solid #efefef;
  height: 53px;
}

.post .comment div {
  display: flex;
  flex: 1;
  font-size: 25px;
}

.post .comment div input {
  width: 100%;
  margin-left: 10px;
  border: none;
  outline: none;
}

.post .comment a {
  text-decoration: none;
  font-weight: 500;
  color: #b2dffc;
  transition: all 0.3s ease-in-out;
}

.post .comment a:hover {
  color: #0095f6;
}

.main .sidebar {
  width: 293px;
  height: 452px;
  margin-left: 29px;
  position: sticky;
  top: 88px;
}

.sidebar .top {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.sidebar .top img {
  width: 56px;
  height: 56px;
}

.sidebar .top div {
  margin-left: 17px;
  font-size: 14px;
}

.sidebar .top div a {
  text-decoration: none;
  font-weight: 500;
  color: #262626;
}

.sidebar .top div a:hover {
  opacity: 0.7;
}

.sidebar .top div p {
  margin-top: 6px;
  font-weight: 100;
  color: #8e8e8e;
}

.sidebar .social-accounts {
  margin-top: 24px;
}

.social-accounts .heading {
  display: flex;
  justify-content: space-between;
}

.social-accounts .heading p {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}

.social-accounts .heading a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}

.social-accounts .heading a:hover {
  opacity: 0.8;
}

.accounts {
  margin-top: 18px;
}

.accounts .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.account .content {
  display: flex;
}

.account .content div {
  margin-left: 11px;
}

.account .content div a {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  text-decoration: none;
}

.account .content div a:hover {
  opacity: 0.7;
}

.account .content div p:last-child {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 6px;
}

.account .follow {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
  text-decoration: none;
}

.account .follow:hover {
  opacity: 0.7;
}

.sidebar .links {
  margin-top: 33px;
}

.sidebar .links ul {
  font-size: 11px;
  color: #c7c7c7;

  display: flex;
  flex-wrap: wrap;
}

.sidebar .links ul span {
  color: #c7c7c7;
  margin: 0 5px;
}

.sidebar .links ul li {
  color: #c7c7c7;
}

.sidebar .links ul li a {
  color: #c7c7c7;
  text-decoration: none;
}

.sidebar > p {
  font-size: 11px;
  color: #c7c7c7;
  margin-top: 18px;
}

@media (max-width: 935px) {
  .main .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .main {
    margin-top: 71px;
  }

  .topbar {
    display: none;
  }

  .topbar-mobile {
    height: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topbar-mobile .logo-container img {
    width: 22px;
  }

  .topbar-mobile .instagram img {
    height: 29px;

    display: flex;
    align-items: center;
  }

  .topbar-mobile .social-actions a {
    font-size: 22px;
    color: #000;
  }

  .bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
  }

  .bottom-bar .items {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-bar .items a {
    font-size: 22px;
    text-decoration: none;
    color: #000;
  }

  .bottom-bar .items a:last-child {
    margin-right: 40px;
  }

  .main .container {
    max-width: 100%;
  }

  .main .container .feed {
    max-width: 100%;
  }

  .main .feed .stories {
    max-width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
  }

  .main .feed .stories .icon-next {
    display: none;
  }

  .main .feed .posts {
    width: 100%;
  }

  .main .feed .posts .post {
    width: 100%;
    margin-left: -1px;
  }
}
