body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  z-index: 1;
}

.topbar {
  max-width: 935px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  display: block;
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}

.topbar .logo-container,
.topbar .search-bar,
.topbar .social-actions {
  width: 33%;
}

.topbar .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topbar .logo-container a {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.topbar .logo-container a:last-child {
  margin-top: 5px;
}

.topbar .logo-container a:first-child img {
  height: 22px;
}

.topbar .logo-container a:last-child img {
  height: 29px;
}

.topbar .search-bar {
  height: 28px;
  max-width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;

  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar .search-bar span {
  font-size: 12px;
  color: #979797;
}

.topbar .social-actions {
  text-align: right;
}

.topbar .social-actions div a {
  margin-left: 20px;
  font-size: 22px;
  color: #000;
}

.main {
  display: flex;

  padding: 20px;
  margin: 0 auto;
  margin-top: 68px;
  max-width: 925px;
}

.main .feed .stories {
  position: relative;

  display: flex;
  align-items: center;
  background-color: red;

  overflow: hidden;
  text-align: left;

  width: 95%;
  height: 118px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.stories .icon-next {
  position: absolute;
  right: 20px;
  top: 36%;
  width: 29px;
  height: 29px;

  font-size: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(149, 157, 165, 0.2);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.stories .item {
  width: 66px;
  margin-left: 18px;
}

.stories .item div {
  position: relative;
}

.stories .item .bg {
  height: 66px;
  width: 66px;
  border-radius: 50%;
}

.stories .item .photo {
  position: absolute;
  top: 7%;
  right: 7%;
}

.stories .item p {
  margin-top: 1px;
  text-align: center;
  font-size: 12px;
}

.main .sidebar {
  width: 293px;

  display: flex;
  flex-direction: column;
}

.sidebar .top {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.sidebar .top img {
  width: 56px;
  height: 56px;
}

.sidebar .top div {
  margin-left: 17px;
  font-size: 14px;
}

.sidebar .top div p:first-child {
  font-weight: 500;
  color: #262626;
}

.sidebar .top div p:last-child {
  margin-top: 2px;
  font-weight: 100;
  color: #8e8e8e;
}

.sidebar .social-accounts {
  margin-top: 24px;
}

.social-accounts .heading {
  display: flex;
  justify-content: space-between;
}

.social-accounts .heading p {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}

.social-accounts .heading a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}

.social-accounts .heading a:hover {
  opacity: 0.8;
}

.accounts {
  margin-top: 18px;
}

.accounts .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.account .content {
  display: flex;
}

.account .content div {
  margin-left: 11px;
}

.account .content div p:first-child {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.account .content div p:last-child {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 6px;
}

.account .follow {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
  text-decoration: none;
}

.sidebar .links {
  margin-top: 33px;
}

.sidebar .links ul {
  font-size: 11px;
  color: #c7c7c7;

  display: flex;
  flex-wrap: wrap;
}

.sidebar .links ul span {
  color: #c7c7c7;
  margin: 0 5px;
}

.sidebar .links ul li {
  color: #c7c7c7;
}

.sidebar .links ul li a {
  color: #c7c7c7;
  text-decoration: none;
}

.sidebar > p {
  font-size: 11px;
  color: #c7c7c7;
  margin-top: 18px;
}
